:root {
    --color-primary: rgb(249, 249, 249);
    --color-bg: rgba(255, 116, 116, 0.411);
    --color-black: black;
    --color-border: rgba(83, 71, 71, 0.267);
    --color-orange-variant: rgba(250, 57, 8, 0.664);
    --color-orange: rgba(230, 7, 7, 0.938);
    --color-blue: rgba(22, 22, 218, 0.548);
    --transition: all 0.5s ease;
  }
  
.img-bg {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

.darker{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.42);
}

.darker ul {
    margin-left: 1.5em;
    font-size: 1.5em;
    color: white;
    list-style-type:disc;
}

.darker > form {
    width: 20em;
    background-color: rgba(216, 216, 216, 0.842);
    padding: 1.5em;
    margin-right: 4em;
    border-radius: 0.3em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.darker form input {
    height: 2.5em;
    padding: 0.05em 0.5em;
    border: 1px solid rgb(255, 136, 38);
    border-radius: 0.1em;
    outline: none;
    transition: var(--transition);
} 

.darker form input:hover {
    border-left: 1em solid rgb(255, 136, 38);

}

.darker form input:focus{
    border-left: 2em solid rgb(255, 136, 38);
    
}

.darker form > label {
    margin-top: 1em;
    display: flex;
    font-weight: 500;
    flex-direction: column;
}

.but {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    font-size: 0.7em;
    margin-top: 1em;
}

.but button {
    height: 2.5em;
    width: 7em;
    border: none;
    background-color: rgb(161, 106, 2);
    color: white;
    border-radius: 0.5em;
}

.but button:hover {
    background-color: orangered;
    transition: var(--transition);
}

.but a {
    text-decoration: none;
}

.but a:hover {
    color: purple;
}

.welcome * {
    text-align: center;
}

.welcome p {
    font-size: 1em;

}

.welcome-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-links .login {
    background-color: rgb(7, 43, 0);
    color: rgb(201, 214, 201);
    font-weight: 600;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    transition: var(--transition);
}

.welcome-links .signup {
    background-color: rgb(36, 1, 1);
    color: rgb(235, 227, 227);
    font-weight: 600;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    transition: var(--transition);
}

.welcome-links .signup:hover {
    background-color: rgb(139, 0, 0);
}

.welcome-links .login:hover {
    background-color: rgb(21, 100, 3);
}